# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/

# Firebase credentials
# serviceAccountKey.json

# SQLite DB (optional)
# models.db

# IDE & system files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs and env
*.log
.env

# Environment variables
# .env


