<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>註冊帳號</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h2>註冊新帳號</h2>
    
    <form action="/signup" method="POST">
        <label for="name">姓名：</label><br>
        <input type="text" id="name" name="name" required><br><br>

        <label for="email">Email：</label><br>
        <input type="email" id="email" name="email" required><br><br>

        <label for="password">密碼：</label><br>
        <input type="password" id="password" name="password" required><br><br>

        <input type="submit" value="註冊">
    </form>

    <p>已有帳號？<a href="/login">點此登入</a></p>
</body>
</html>
